*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 90vh;
    width: 100vw;
    color: white;
    cursor: default;
    overflow-x: hidden;
    background: #13072e;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cfc9ff;
    border-radius: 10px;
}

.home{
    height: 95vh;
    background: #13072e;
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #13072e;
    z-index: 2;
}

.nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 80px;
}

.nav-icon p{
    font-size: 1.25rem;
    font-weight: 700;
}

.nav-text{
    margin-top: 14px; 
    display: flex;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-item{
    margin-left: 5vw;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-item a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.nav-item a:hover{
    opacity: 1;
    font-weight: 400;
}

.nav-button{
    display: flex;
}

.nav-button a{
    text-decoration: none;
    color: black;
}

.nav-button .btn{
    font-size: 1.25rem;
    height: 2.5rem;
    width: 8rem;
    margin-right: 2vw;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: white;
    transition: all 0.3s ease-in-out; 
}

.btn i{
    color: black;
    border: none;
    margin-left: 10px;
}

.btn:hover{
    background: transparent;
    color: white;
    font-weight: 400;
}

.btn:hover a{
    color: white;
}

.btn:hover i{
    color: white;
}

.home-text{
    height: 75vh;
    width: 95vw;
    background:linear-gradient(135deg, #13072e, #3f2182) ;
    margin-top: 150px;
    margin-left: 2.5vw;
    border-radius: 30px;
    display: flex;
}

.top-button{
    background-color: #b3aaff;
    border: none;
    width: 18rem;
    height: 2.5rem;
    border-radius: 30px;
    margin-top: 12vh;
    margin-left: 6vw;
    font-size: 1.15rem;
    font-weight: 400;
}

.mid-text{
    width: 40vw;
    margin-left: 6vw;
    margin-top: 50px;
}

.mid-text p{
    font-size: 1.15rem;
    line-height: 1.75rem;
}

.explore-btn{
    margin-left: 6vw;
    margin-top: 50px;
    font-size: 1.255rem;
    height: 2.5rem;
    width: 10rem;
    margin-right: 2vw;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.explore-btn a{
    text-decoration: none;
    color: black;
}

.explore-btn i{
    color: black;
    border: none;
    margin-left: 10px;
}

.explore-btn i{
    color: black;
    border: none;
    margin-left: 10px;
}

.explore-btn:hover{
    background: rgb(255, 219, 126);
}

.home-image{
    width: 500px;
    margin-left: 230px;
    margin-top: 30px;
}

.home-image {
    animation: mymove 5s infinite;
}

.courses{
    height: 100vh;
    width: 100vw;
}

.course-scroll{
    display: flex;
    /* margin-top: 20px; */
}

.course-scroll h2{
    font-size: 5rem;
    font-weight: 700;
    margin-left: 100px;
    margin-right: 20px;   
    margin-top: -6vw; 
}

.course-page .search{
    width: 100%;
    display: flex;
    justify-content: right;
}

.search button{
    margin-right: 50px;
}

.search i{
    margin-right: 100px;
}

.search input{
    border-radius: 30px;
    border: none;
    height: 3rem;
    width: 20rem;
    padding-left: 20px;
    font-size: 1.25rem;
    color: rgb(41, 41, 41);
    background-color: aliceblue;
}

.search button{
    background-color: aliceblue;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: -50px;
}

.search i{
    font-size: 1.5rem;    
    cursor: pointer;
    color: black;
}  

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: center;
}
.dropdown-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #cfc9ff;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cfc9ff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
}
.dropdown-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #333;
    background-color: #cfc9ff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.dropdown-content a:hover {
    background-color: #3f2182;
    color: white;
}

.courses{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(240px , 1fr)); */
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin-left: 5vw;
    margin-top: 50px;
}

.course-box{
    height: 50vh;
    width: 20vw;
    border-radius: 30px;
    border: 2px solid #dad6fc;
    margin-top: 10vh;  
    position: relative;
    transition: all 0.4s ease-in;
}

.course-image img{
    width: 100%;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}

.course-text{
    margin-left: 20px;    
}

.course-name{
    font-size: 1.75rem;
    font-weight: 500;
}

.course-author{
    position: relative;
    bottom: -20px;
}

.course-author i{
    margin-right: 10px;
}

.lessons{
    position: relative;
    bottom: -40px;
}

.lessons i{
    margin-right: 10px;
}

.course-box:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 20px #dfdbfc;
}

/* li a {
    text-decoration : none; 
    color : black;
}


.courses-list {
  width: 300px;  
  background-color: transparent;
  position: relative;
  left: 30vw;
  top: -9vh;
}

span {
  width: 550px; 
  padding : 10px;
  background : #d2cef9; 
  color: black;
  font-weight: 500;
  border-radius: 5px;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
}

span::after {
  float: right;
  content: "";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {
    padding : 10px;
    margin-top: -10px;
    margin-left: -20px;
    background-color: #d2cef9;
}

#touch {
    position: relative;
    opacity: 0;
    height: 0px;
}   

.slide li a{
    border-bottom: 1px solid black;
}



#touch:checked + .slide {
    height: 300px;
    background-color: transparent;
}  */