/* src/components/CollaborationForm.css */

.collaboration-container {
    background-color: #c0bed9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-top: 50px;
    margin-left: 372px ;
    
    }
    
    h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    }
    
    .form-group {
    margin-bottom: 15px;
    
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    color: black;
    }
    
    input,
    textarea {
    width: 95%;
    margin-left: 0px;
    padding: 10px;
    border: 1px solid #aaa7a7;
    border-radius: 5px;
    }
    
    
    #community-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    margin: auto; /* Center the button horizontally */
    display: block; /* Ensures centering works on its container */

    }
    
    #community-button:hover {
    background-color: #0056b3;
    }
    
    #message{
    height: 100px;
    background-color: white;
    color: black;
    }