/* Container to center the card */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #9f81c7, #430c7a);
  padding: 16px;
  animation: fadeIn 1s ease-in-out;
}

/* Card styling */
.card {
  width: 100%;
  max-width: 400px;
  background: linear-gradient(to bottom, #401291, #7c54ac); 
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  animation: slideIn 0.5s ease-in-out;
}

/* Header with logo and title */
.card-header {
  text-align: center;
  margin-bottom: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.icon {
  font-size: 32px;
  margin-right: 8px;
}

.card-header h1 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.description {
  font-size: 14px;
  color: #ffffff;
}

/* Input fields styling */
.input-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: 500;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #4a90e2;
}

/* Error alert styling */
.error-alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
  animation: shake 0.3s ease-in-out;
}

/* Button styling */
.signup-button {
  width: 100%;
  padding: 12px;
  background-color: #401291;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-button:hover {
  background-color: #e0c8ff;
  color: rgb(11, 10, 10);
  transform: scale(1.05);
}

.signup-button i {
  margin-left: 8px;
}

/* Signup link styling */
.signup-link {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 14px;
}

.signup-link a {
  color: #bbcee3;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
  font-weight: 400;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}